/covgenmod
/EHRmod
/simmod
/simurinemod2
/urinemod
/urinemod2
/urinemod2sim
/Gamma
/ShinyApps/DelayAbsModels/Gamma
/ShinyApps/DelayAbsModels/Weibull
/ShinyApps/DelayAbsModels/InverseGaussian
/ShinyApps/SimpleShinyApp/simmod
/ShinyApps/TransitModel/simmod
