small.dont-index {
  visibility: hidden;
}
.contents h1 {
    padding-top: 60px;
    margin-top: -40px;
    visibility: hidden;
}

.contents .page-header {
    margin-top: calc(-180px + 1em);
}

.col-md-9 {
    width: 80%;
}
.col-md-3 {
    width: 20%;
}

h2#section-installation {
  padding-top: 90px;
}


.registration-button {
  color: white;
  background-color: #e95420;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.registration-button:hover {
  background-color: #e7977a;
  color: white;
}

@media only screen and (max-width: 600px) {
  #r_school_banner {
    height: 70px;
  }
